*
!.gitignore
!.vimrc
!.Xmodmap
!.Xresources
!.bashrc
!.bash_functions
!.bash_aliases
!.bash_profile
!.dircolors
!.gnuplot
!.gvimrc
!.inputrc
!.tmux.conf
!.xbindkeysrc
!.xdark
!.xlight

!.i3
!.i3/config
!.i3/i3blocks.conf

!.vim
!.vim/ftplugin
!.vim/spell
!.vim/ftplugin/*
!.vim/spell/*
