*
!.Xmodmap
!.Xresources
!.bash_aliases
!.bash_functions
!.bash_profile
!.bashrc
!.dircolors
!.gitignore
!.gnuplot
!.gvimrc
!.inputrc
!.tmux.conf
!.tridactylrc
!.vimrc
!.xbindkeysrc
!.xdark
!.xlight

!.config
!.config/matplotlib
!.config/matplotlib/matplotlibrc
!.config/matplotlib/stylelib
!.config/matplotlib/stylelib/*.mplstyle
!.config/i3
!.config/i3/config
!.config/i3/i3blocks.conf
!.config/i3/i3blocks
!.config/i3/i3blocks/*
!.config/firejail
!.config/firejail/*

!.i3
!.i3/config
!.i3/i3blocks.conf

!.vim
!.vim/ftplugin
!.vim/spell
!.vim/ftplugin/*
!.vim/spell/*

!.gnupg/gpg.conf

*~
